/* CSS and Twitter Bootstrap overrides by Ed Hebert ehebert@fas.harvard.edu */

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
	font-weight: bold;
	color: #3C4789;

}

.navbar {
	margin-bottom: 50px;
}

.navbar-inverse {
	background-color: #3C4789;
}

.navbar-inverse .navbar-brand {
	font-size: 36px;
	font-family: 'Snowburst One', cursive;
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-inverse .navbar-brand:hover {
	color: #ddd;
}

.mainmenu {
	margin-top: 20px;
}

.callout-error {
	padding: 20px;
	border-left: 5px;
	background-color: #fcf2f2;
	border-left: 5px solid #dFb5b4;
	margin-bottom: 20px;
}


.form-control:focus {
border-color: #BA9006;
outline: 0;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(186,144,6,0.6);
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(186,144,6,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(186,144,6,0.6);
}


/* Button Customization via http://twitterbootstrap3buttons.w3masters.nl/ */
.btn-custom {
  background-color: #3C4789;
  border-color: #3C4789;
  color: #fff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #343e77;
  border-color: #2c3566;
  color: #fff;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #3C4789;
  border-color: #3C4789;
  color: #fff;
}